In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/Murtuz/Desktop/Datasets/crime-in-india/29_Period_of_trials_by_courts.csv')

In [3]:
df.head()

,Area_Name,Year,Group_Name,Sub_Group_Name,PT_1_3_Years,PT_3_5_Years,PT_5_10_Years,PT_6_12_Months,PT_Less_than_6_Months,PT_Over_10_Years,PT_Total
0,Andhra Pradesh,2004,PT1. District/Session Judge,1. District/Session Judge,1931.0,805.0,196.0,293.0,44.0,57.0,3326.0
1,Arunachal Pradesh,2004,PT1. District/Session Judge,1. District/Session Judge,13.0,6.0,0.0,5.0,0.0,0.0,24.0
2,Assam,2004,PT1. District/Session Judge,1. District/Session Judge,582.0,444.0,170.0,127.0,69.0,22.0,1414.0
3,Bihar,2004,PT1. District/Session Judge,1. District/Session Judge,297.0,590.0,594.0,11.0,0.0,233.0,1725.0
4,Chhattisgarh,2004,PT1. District/Session Judge,1. District/Session Judge,239.0,171.0,72.0,222.0,271.0,17.0,992.0

In [4]:
df['Year'].unique()

array([2004, 2005, 2006, 2007, 2008, 2009, 2010], dtype=int64)

In [6]:
df['Group_Name'].unique()

array(['PT1. District/Session Judge', 'PT2. Additional Session Judge',
       'PT3. Chief Judicial Magistrate', 'PT4. Judicial Magistrate (I)',
       'PT5. Judicial Magistrate (II)',
       'PT6. Special Judicial Magistrate', 'PT7. Other courts (if any)',
       'PT8. Total of Courts'], dtype=object)

In [7]:
df['Sub_Group_Name'].unique()

array(['1. District/Session Judge', '2. Additional Session Judge',
       '3. Chief Judicial Magistrate', '4. Judicial Magistrate (I)',
       '5. Judicial Magistrate (II)', '6. Special Judicial Magistrate',
       '7. Other courts ', '8. Total Trials (Sum of 1-7 Above)'],
      dtype=object)

In [12]:
#df[df['Sub_Group_Name'] == '8. Total Trials (Sum of 1-7 Above)'].sum()

### Which states have highest period of trials > 10 years

In [8]:
df[df['Group_Name'] == 'PT8. Total of Courts'].groupby("Area_Name")['PT_Over_10_Years'].sum().sort_values(ascending = False).head(7)

Area_Name
Maharashtra       34606.0
Bihar             32957.0
Uttar Pradesh     32580.0
Jharkhand         22133.0
Madhya Pradesh    20987.0
Rajasthan         14157.0
West Bengal       10372.0
Name: PT_Over_10_Years, dtype: float64

### Which states have highest number of trials

In [14]:
df[df['Group_Name'] == 'PT8. Total of Courts'].groupby("Area_Name")['PT_Total'].sum().sort_values(ascending = False).head(10)

Area_Name
Tamil Nadu        896770.0
Madhya Pradesh    788922.0
Uttar Pradesh     647293.0
Andhra Pradesh    615655.0
Kerala            537233.0
Karnataka         513548.0
Maharashtra       509777.0
Rajasthan         456548.0
Gujarat           388137.0
Bihar             345464.0
Name: PT_Total, dtype: float64

### Total Number of trials between 2004-2010

In [17]:
print('The total number of trials in court = ' + str(df[df['Group_Name'] == 'PT8. Total of Courts']['PT_Total'].sum()))

The total number of trials in court = 7259795.0

In [18]:
print('The total number of trials 3_5 years in court = ' + str(df[df['Group_Name'] == 'PT8. Total of Courts']['PT_3_5_Years'].sum()))

The total number of trials 3_5 years in court = 1650126.0

In [19]:
print('The total number of trials 5_10 years in court = ' + str(df[df['Group_Name'] == 'PT8. Total of Courts']['PT_5_10_Years'].sum()))

The total number of trials 5_10 years in court = 829064.0

In [21]:
df.groupby("Sub_Group_Name")['PT_Total'].sum().sort_values(ascending = False)

Sub_Group_Name
8. Total Trials (Sum of 1-7 Above)    7259795.0
4. Judicial Magistrate (I)            3009520.0
5. Judicial Magistrate (II)           1346109.0
3. Chief Judicial Magistrate          1009960.0
7. Other courts                        615586.0
2. Additional Session Judge            591455.0
6. Special Judicial Magistrate         374184.0
1. District/Session Judge              312981.0
Name: PT_Total, dtype: float64