In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/Murtuz/Desktop/Datasets/crime-in-india/39_Specific_purpose_of_kidnapping_and_abduction.csv')

In [5]:
df.head(10)

,Area_Name,Year,Group_Name,Sub_Group_Name,K_A_Cases_Reported,K_A_Female_10_15_Years,K_A_Female_15_18_Years,K_A_Female_18_30_Years,K_A_Female_30_50_Years,K_A_Female_Above_50_Years,K_A_Female_Total,K_A_Female_Upto_10_Years,K_A_Grand_Total,K_A_Male_10_15_Years,K_A_Male_15_18_Years,K_A_Male_18_30_Years,K_A_Male_30_50_Years,K_A_Male_Above_50_Years,K_A_Male_Total,K_A_Male_Upto_10_Years
0,Andhra Pradesh,2001,Kidnap - For Adoption,01. For Adoption,8.0,0.0,0.0,4.0,0.0,0.0,5.0,1.0,8.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0
1,Arunachal Pradesh,2001,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Assam,2001,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Bihar,2001,Kidnap - For Adoption,01. For Adoption,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0,0.0,15.0,3.0,0.0,18.0,0.0
4,Chandigarh,2001,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Chhattisgarh,2001,Kidnap - For Adoption,01. For Adoption,6.0,2.0,1.0,3.0,0.0,0.0,6.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Delhi,2001,Kidnap - For Adoption,01. For Adoption,5.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,7.0,1.0,NaN,1.0,2.0,NaN,6.0,2.0
7,Gujarat,2001,Kidnap - For Adoption,01. For Adoption,3.0,0.0,0.0,2.0,0.0,0.0,3.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Haryana,2001,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Himachal Pradesh,2001,Kidnap - For Adoption,01. For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df['Group_Name'].unique()

array(['Kidnap - For Adoption', 'Kidnap - For Begging',
       'Kidnap - For Camel Racing', 'Kidnap - For Illicit Intercourse',
       'Kidnap - For Marriage', 'Kidnap - For Prostitution',
       'Kidnap - For Ransom', 'Kidnap - For Revenge', 'Kidnap - For Sale',
       'Kidnap - For Selling Bodyparts', 'Kidnap - For Slavery',
       'Kidnap - For Unlawful Activity', 'Kidnap - For Other Purposes',
       'Kidnap - Total'], dtype=object)

In [8]:
df['Sub_Group_Name'].unique()

array(['01. For Adoption', '02. For Begging', '03. for Camel Racing',
       '04. For Illicit Intercourse', '05. For Marriage',
       '06. For Prostitution', '07. For Ransom', '08. For Revenge',
       '09. For Sale', '10. For Selling Bodyparts', '11. For Slavery',
       '12. For Unlawful Activity', '13. Other Purposes',
       '14. Total (Sum of 1-13 Above)'], dtype=object)

In [69]:
df['Year'].unique()

array([2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010],
      dtype=int64)

In [11]:
df.columns

Index(['Area_Name', 'Year', 'Group_Name', 'Sub_Group_Name',
       'K_A_Cases_Reported', 'K_A_Female_10_15_Years',
       'K_A_Female_15_18_Years', 'K_A_Female_18_30_Years',
       'K_A_Female_30_50_Years', 'K_A_Female_Above_50_Years',
       'K_A_Female_Total', 'K_A_Female_Upto_10_Years', 'K_A_Grand_Total',
       'K_A_Male_10_15_Years', 'K_A_Male_15_18_Years', 'K_A_Male_18_30_Years',
       'K_A_Male_30_50_Years', 'K_A_Male_Above_50_Years', 'K_A_Male_Total',
       'K_A_Male_Upto_10_Years'],
      dtype='object')

## Most popular motive for kidnapping

In [12]:
#We will take Sub_Group_Name and KA_Grand_Total columns in a sepearate set and work with it
reason = df[['Sub_Group_Name','K_A_Grand_Total']]

In [13]:
reason.head()

     Sub_Group_Name  K_A_Grand_Total
0  01. For Adoption              8.0
1  01. For Adoption              0.0
2  01. For Adoption              0.0
3  01. For Adoption             18.0
4  01. For Adoption              0.0

In [15]:
#Grouping column Sub_Group_Name,finding their sum and ordering them(DESC)
reason.groupby("Sub_Group_Name").sum().sort_values(by=['K_A_Grand_Total'], ascending=False)

                               K_A_Grand_Total
Sub_Group_Name
14. Total (Sum of 1-13 Above)         268001.0
05. For Marriage                      119107.0
13. Other Purposes                     97505.0
04. For Illicit Intercourse            23552.0
07. For Ransom                          9341.0
12. For Unlawful Activity               6360.0
08. For Revenge                         5873.0
06. For Prostitution                    3414.0
01. For Adoption                         963.0
11. For Slavery                          904.0
09. For Sale                             686.0
02. For Begging                          275.0
10. For Selling Bodyparts                 16.0
03. for Camel Racing                       5.0

### 44.4 % kidnapping is done due to marriage reason

In [31]:
#Total number of kidnapping happened = 2 lakh 68 k 1
df['K_A_Grand_Total'].sum() - 268001.0

268001.0

In [45]:
df['Area_Name'].unique()
#df['Area_Name'].nunique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chandigarh', 'Chhattisgarh', 'Delhi', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand', 'Karnataka',
       'Maharashtra', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Uttar Pradesh',
       'West Bengal', 'Daman & Diu', 'Madhya Pradesh', 'Tripura',
       'Puducherry', 'Kerala', 'Manipur', 'Dadra & Nagar Haveli', 'Goa',
       'Uttarakhand', 'Andaman & Nicobar Islands', 'Lakshadweep'],
      dtype=object)

## Which state has the highest kidnapping committed for prostitution

In [33]:
pros = df[df['Sub_Group_Name'] == '06. For Prostitution']

In [60]:
pros.head(2)

,Area_Name,Year,Group_Name,Sub_Group_Name,K_A_Cases_Reported,K_A_Female_10_15_Years,K_A_Female_15_18_Years,K_A_Female_18_30_Years,K_A_Female_30_50_Years,K_A_Female_Above_50_Years,K_A_Female_Total,K_A_Female_Upto_10_Years,K_A_Grand_Total,K_A_Male_10_15_Years,K_A_Male_15_18_Years,K_A_Male_18_30_Years,K_A_Male_30_50_Years,K_A_Male_Above_50_Years,K_A_Male_Total,K_A_Male_Upto_10_Years
1255,Andhra Pradesh,2001,Kidnap - For Prostitution,06. For Prostitution,36.0,1.0,17.0,16.0,2.0,0.0,36.0,0.0,36.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1256,Arunachal Pradesh,2001,Kidnap - For Prostitution,06. For Prostitution,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
#Total number of kidnapping done for prostitution
pros['K_A_Grand_Total'].sum()

3414.0

In [56]:
pros.groupby("Area_Name")['K_A_Grand_Total'].sum().sort_values(ascending = False).head(5)#no by needed here as column name specified earlier
#OR
#reason.groupby("Sub_Group_Name").sum().sort_values(by=['K_A_Grand_Total'], ascending=False)

Area_Name
Maharashtra       1041.0
West Bengal        930.0
Assam              487.0
Andhra Pradesh     404.0
Uttar Pradesh       93.0
Name: K_A_Grand_Total, dtype: float64

In [59]:
(1041 + 930 + 487) /3414 * 100

71.99765670767428

### Conclusion - Maha,W.B and Assam account for 72 % of all kidnapping done due to prostitution

###  Kidnapping committed for prostitution based on gender

In [63]:
print("Number of People Kidnapped for prostitution = " + str(pros['K_A_Grand_Total'].sum()))
print("Number of Females Kidnapped for prostitution = " + st r(pros['K_A_Female_Total'].sum()))
print("Number of Females Kidnapped for prostitution = " + str(pros['K_A_Male_Total'].sum()))

Number of People Kidnapped for prostitution = 3414.0
Number of Females Kidnapped for prostitution = 3309.0
Number of Females Kidnapped for prostitution = 105.0

###  Kidnapping committed for prostitution based on Year

In [67]:
pros.groupby("Year")['K_A_Grand_Total'].sum().sort_values(ascending = False).head(5)

Year
2009    601.0
2010    533.0
2006    501.0
2007    417.0
2008    339.0
Name: K_A_Grand_Total, dtype: float64

###  Kidnapping committed for prostitution based on Age_Group

In [68]:
pros.sum()

Area_Name                    Andhra PradeshArunachal PradeshAssamBiharChand...
Year                                                                    463267
Group_Name                   Kidnap - For ProstitutionKidnap - For Prostitu...
Sub_Group_Name               06. For Prostitution06. For Prostitution06. Fo...
K_A_Cases_Reported                                                        2733
K_A_Female_10_15_Years                                                     228
K_A_Female_15_18_Years                                                     826
K_A_Female_18_30_Years                                                    1891
K_A_Female_30_50_Years                                                     300
K_A_Female_Above_50_Years                                                   51
K_A_Female_Total                                                          3309
K_A_Female_Upto_10_Years                                                    13
K_A_Grand_Total                                                           3414
K_A_Male_10_15_Years                                                         4
K_A_Male_15_18_Years                                                         5
K_A_Male_18_30_Years                                                        53
K_A_Male_30_50_Years                                                        36
K_A_Male_Above_50_Years                                                      3
K_A_Male_Total                                                             105
K_A_Male_Upto_10_Years                                                       4
dtype: object

### Most people are kidnapped when they are between 18-30 years of age

## In which states most people are kidnapped for marriage

In [70]:
marr = df[df['Sub_Group_Name'] == '05. For Marriage']

In [71]:
marr.head()

,Area_Name,Year,Group_Name,Sub_Group_Name,K_A_Cases_Reported,K_A_Female_10_15_Years,K_A_Female_15_18_Years,K_A_Female_18_30_Years,K_A_Female_30_50_Years,K_A_Female_Above_50_Years,K_A_Female_Total,K_A_Female_Upto_10_Years,K_A_Grand_Total,K_A_Male_10_15_Years,K_A_Male_15_18_Years,K_A_Male_18_30_Years,K_A_Male_30_50_Years,K_A_Male_Above_50_Years,K_A_Male_Total,K_A_Male_Upto_10_Years
932,Andaman & Nicobar Islands,2001,Kidnap - For Marriage,05. For Marriage,2.0,NaN,2.0,NaN,NaN,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
933,Andhra Pradesh,2001,Kidnap - For Marriage,05. For Marriage,339.0,73.0,164.0,91.0,4.0,0.0,332.0,0.0,339.0,0.0,1.0,6.0,0.0,0.0,7.0,0.0
934,Arunachal Pradesh,2001,Kidnap - For Marriage,05. For Marriage,41.0,0.0,0.0,39.0,2.0,0.0,41.0,0.0,41.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
935,Assam,2001,Kidnap - For Marriage,05. For Marriage,751.0,34.0,277.0,346.0,0.0,0.0,660.0,3.0,751.0,0.0,31.0,24.0,30.0,6.0,91.0,0.0
936,Bihar,2001,Kidnap - For Marriage,05. For Marriage,555.0,27.0,131.0,319.0,7.0,0.0,484.0,0.0,555.0,0.0,9.0,54.0,8.0,0.0,71.0,0.0

In [73]:
marr.groupby("Area_Name")['K_A_Grand_Total'].sum().sort_values(ascending = False).head()

Area_Name
Uttar Pradesh    20414.0
Rajasthan        12715.0
Assam            12564.0
Bihar            11212.0
Gujarat           7244.0
Name: K_A_Grand_Total, dtype: float64

In [74]:
marr.sum()

Area_Name                    Andaman & Nicobar IslandsAndhra PradeshArunach...
Year                                                                    647780
Group_Name                   Kidnap - For MarriageKidnap - For MarriageKidn...
Sub_Group_Name               05. For Marriage05. For Marriage05. For Marria...
K_A_Cases_Reported                                                      118995
K_A_Female_10_15_Years                                                    5696
K_A_Female_15_18_Years                                                   23418
K_A_Female_18_30_Years                                                   75877
K_A_Female_30_50_Years                                                   11465
K_A_Female_Above_50_Years                                                  127
K_A_Female_Total                                                        116732
K_A_Female_Upto_10_Years                                                   149
K_A_Grand_Total                                                         119107
K_A_Male_10_15_Years                                                        23
K_A_Male_15_18_Years                                                       277
K_A_Male_18_30_Years                                                      1623
K_A_Male_30_50_Years                                                       420
K_A_Male_Above_50_Years                                                     19
K_A_Male_Total                                                            2375
K_A_Male_Upto_10_Years                                                      13
dtype: object

## Top 5 states where most kidnappings have taken place

In [88]:
#Removing sub_group Total (Sum of 1-13 Above)
state = df[df['Sub_Group_Name'] != '14. Total (Sum of 1-13 Above)']

In [89]:
state['Sub_Group_Name'].unique()

array(['01. For Adoption', '02. For Begging', '03. for Camel Racing',
       '04. For Illicit Intercourse', '05. For Marriage',
       '06. For Prostitution', '07. For Ransom', '08. For Revenge',
       '09. For Sale', '10. For Selling Bodyparts', '11. For Slavery',
       '12. For Unlawful Activity', '13. Other Purposes'], dtype=object)

In [96]:
state.groupby("Area_Name")['K_A_Grand_Total'].sum().sort_values(ascending = False) #.head()

Area_Name
Uttar Pradesh                41952.0
Bihar                        28180.0
Rajasthan                    24313.0
Assam                        20363.0
Delhi                        18217.0
Andhra Pradesh               17287.0
West Bengal                  16709.0
Maharashtra                  12735.0
Gujarat                      12009.0
Tamil Nadu                   11514.0
Madhya Pradesh                9582.0
Jammu & Kashmir               7533.0
Karnataka                     7452.0
Odisha                        7061.0
Haryana                       6426.0
Punjab                        6227.0
Jharkhand                     5966.0
Chhattisgarh                  2423.0
Kerala                        2371.0
Uttarakhand                   2245.0
Manipur                       1618.0
Tripura                       1523.0
Himachal Pradesh              1437.0
Arunachal Pradesh              682.0
Meghalaya                      558.0
Chandigarh                     510.0
Nagaland                       396.0
Goa                            200.0
Puducherry                     144.0
Dadra & Nagar Haveli           123.0
Mizoram                         85.0
Andaman & Nicobar Islands       76.0
Sikkim                          61.0
Daman & Diu                     22.0
Lakshadweep                      1.0
Name: K_A_Grand_Total, dtype: float64

# Total Number of Kidnapping = 268001.0

In [92]:
(41952 + 28180 + 24313 + 20363 + 18217) / 268001 * 100

49.63600882086261

In [98]:
state.sum()

Area_Name                    Andhra PradeshArunachal PradeshAssamBiharChand...
Year                                                                   6479805
Group_Name                   Kidnap - For AdoptionKidnap - For AdoptionKidn...
Sub_Group_Name               01. For Adoption01. For Adoption01. For Adopti...
K_A_Cases_Reported                                                      264596
K_A_Female_10_15_Years                                                   11978
K_A_Female_15_18_Years                                                   35827
K_A_Female_18_30_Years                                                  119662
K_A_Female_30_50_Years                                                   21550
K_A_Female_Above_50_Years                                                  625
K_A_Female_Total                                                        192175
K_A_Female_Upto_10_Years                                                  2533
K_A_Grand_Total                                                         268001
K_A_Male_10_15_Years                                                      4510
K_A_Male_15_18_Years                                                      5290
K_A_Male_18_30_Years                                                     39378
K_A_Male_30_50_Years                                                     20821
K_A_Male_Above_50_Years                                                   2043
K_A_Male_Total                                                           75826
K_A_Male_Upto_10_Years                                                    3784
dtype: object