In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/Murtuz/Desktop/Datasets/crime-in-india/32_Murder_victim_age_sex.csv')

In [3]:
df.head()

,Area_Name,Year,Group_Name,Sub_Group_Name,Victims_Above_50_Yrs,Victims_Total,Victims_Upto_10_15_Yrs,Victims_Upto_10_Yrs,Victims_Upto_15_18_Yrs,Victims_Upto_18_30_Yrs,Victims_Upto_30_50_Yrs
0,Andaman & Nicobar Islands,2001,Murder - Female Victims,2. Female Victims,NaN,6,NaN,NaN,NaN,4.0,2.0
1,Andhra Pradesh,2001,Murder - Female Victims,2. Female Victims,67.0,607,15.0,38.0,43.0,269.0,175.0
2,Arunachal Pradesh,2001,Murder - Female Victims,2. Female Victims,2.0,16,0.0,0.0,0.0,10.0,4.0
3,Assam,2001,Murder - Female Victims,2. Female Victims,11.0,128,8.0,4.0,23.0,45.0,37.0
4,Bihar,2001,Murder - Female Victims,2. Female Victims,12.0,366,0.0,0.0,40.0,191.0,123.0

In [4]:
df['Year'].unique()

array([2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010],
      dtype=int64)

In [5]:
df['Group_Name'].unique()

array(['Murder - Female Victims', 'Murder - Male Victims',
       'Murder - Total Victims'], dtype=object)

In [6]:
df['Sub_Group_Name'].unique()

array(['2. Female Victims', '1. Male Victims', '3. Total'], dtype=object)

In [7]:
df['Area_Name'].unique()

array(['Andaman & Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh', 'Uttarakhand',
       'West Bengal', 'Dadra & Nagar Haveli', 'Daman & Diu'], dtype=object)

### Total number of muders

In [13]:
print('Total Number of Murders from 2001-2010 = ' +  str(df[df['Sub_Group_Name'] == '3. Total']['Victims_Total'].sum()))

Total Number of Murders from 2001-2010 = 347854

### Total number of muders (groupby)

In [14]:
df.groupby("Sub_Group_Name")['Victims_Total'].sum()

Sub_Group_Name
1. Male Victims      266274
2. Female Victims     81580
3. Total             347854
Name: Victims_Total, dtype: int64

### States with the highest number of murders

In [22]:
#Filtering dataframe so that we do not get redundant values
df[df['Sub_Group_Name'] == '3. Total'].groupby("Area_Name")['Victims_Total'].sum().sort_values(ascending = False).head(5)

Area_Name
Uttar Pradesh     58810
Bihar             34675
Maharashtra       28693
Andhra Pradesh    27481
Madhya Pradesh    23694
Name: Victims_Total, dtype: int64

### Which year had the most murders

In [23]:
df[df['Sub_Group_Name'] == '3. Total'].groupby("Year")['Victims_Total'].sum().sort_values(ascending = False).head(5)

Year
2001    38636
2002    38033
2004    34915
2005    34419
2010    33908
Name: Victims_Total, dtype: int64

### Age group having higest number of murders

In [24]:
df[df['Sub_Group_Name'] == '3. Total'].sum()

Area_Name                 Andaman & Nicobar IslandsAndhra PradeshArunach...
Year                                                                 685883
Group_Name                Murder - Total VictimsMurder - Total VictimsMu...
Sub_Group_Name            3. Total3. Total3. Total3. Total3. Total3. Tot...
Victims_Above_50_Yrs                                                  32496
Victims_Total                                                        347854
Victims_Upto_10_15_Yrs                                                 4177
Victims_Upto_10_Yrs                                                    6627
Victims_Upto_15_18_Yrs                                                 7693
Victims_Upto_18_30_Yrs                                               158786
Victims_Upto_30_50_Yrs                                               138075
dtype: object